/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Teko|VT323');

/* Style the about-image class */
.about-image {
    padding-top: 5px;
}

/* Style the image within the about-image div */
.about-image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    border-radius: 20px;
    
}

/* Style the paragraphs in the content */
.about-content p {
    font-size: 30pt;
}

/* Style the accordion that holds the drop down */
.accordion {
    margin: 10pt;
}

/*Style the drop down title*/
#titleOne {
    color: white;
    font-size: 24pt;
    text-decoration: none;
}

#titleTwo {
    color: white;
    font-size: 24pt;
    text-decoration: none;
}

#titleThree {
    color: white;
    font-size: 24pt;
    text-decoration: none;
}

/* Style the head of card 1, card2 and card 3*/
#headingOne {
    background-color: #262626;
}

#headingTwo {
    background-color: #262626;
}

#headingThree {
    background-color: #262626;
}

/*Style the body fo the cards in the accordion */
.card-body {
    background-color: #262626;
}

/* Style for about page title */
.page-title {
    margin-top: 10pt;
    text-align: center;
}