/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Teko|VT323');

/* Style the about-image class */
.about-image {
    padding-top: 5px;
}

/* Style the image within the about-image div */
.about-image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    border-radius: 20px;
    
}

/* Style the paragraphs in the content */
.about-content p {
    font-size: 30pt;
}

/* Style the accordion that holds the drop down */
.accordion {
    margin: 10pt;
}

/* Style for about page title */
.page-title {
    margin-top: 10pt;
    text-align: center;
}