/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Teko|VT323');

/*Style the body of the learn page*/
#bodyLearn {
    color: white;
    background-color: #262626;
}

/* Style the content (cards) of the learn page */
.learn-content {
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-top: 10pt;
}

/* Style the learn-links */
.learn-links a {
    font-size: 30pt;
    text-decoration: underline;
    color: white;
}

/* On hover, change the background color of links */
.learn-links a:hover {
    background-color: #4c4c4c;
    border-radius: 5px;
}

/* Style the learn-image class */
.learn-image {
    padding-top: 5px;
}

/* Style the image within the learn-image div */
.learn-image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

/* Style for the container that holds the carousel */
#carouselFireFacts {
    font-family: 'Teko', sans-serif;
    margin-top: 10pt;
}

/*Style for the images in the carousel */
.carousel-inner {
    height: 70vh;
  }

  .carousel-item {
      height: 70vh;
  }

  #carouselImage1 {
      background-image: url("../../assets/images/cabinFire.jpg");
      background-size: cover;
  }

  #carouselImage2 {
      background-image: url("../../assets/images/fireSeason.jpg");
      background-size: cover;
  }

  #carouselImage3 {
      background-image: url("../../assets/images/saveForest.jpg");
      background-size: cover;
  }

  /* Style for caption in the caraousel */
  .carousel-caption {
      text-shadow: 2px 2px 2px #262626;
  }

  /* Style for card text */
  .card-columns {
      color: black;
  }