/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Teko|VT323');

/*Style the body of the learn page*/
#bodyLearn {
    color: white;
    background-color: #262626;
}

/* Style the content (cards) of the learn page */
.learn-content {
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-top: 10pt;
}

/* Style for the container that holds the carousel */
#carouselFireFacts {
    font-family: 'Teko', sans-serif;
    margin-top: 10pt;
}

/*Style for the images in the carousel */
.carousel-inner {
    height: 70vh;
  }

  .carousel-item {
      height: 70vh;
  }

  #carouselImage1 {
      background-image: url("../../assets/images/cabinFire.jpg");
      background-size: cover;
  }

  #carouselImage2 {
      background-image: url("../../assets/images/fireSeason.jpg");
      background-size: cover;
  }

  #carouselImage3 {
      background-image: url("../../assets/images/saveForest.jpg");
      background-size: cover;
  }

  /* Style for caption in the caraousel */
  .carousel-caption {
      text-shadow: 2px 2px 2px #262626;
  }

  /*Style for links */
  .myLinks {
      color:black;
  }

  .myLinks:hover {
      color:black;
  }

  /* Style for card */
  .card-columns {
      margin: 10pt;
      color: black;
  }

  /* Style for cards on hover */
  .card:hover {
    box-shadow: rgba(43, 153, 41) 0px 5px 25px;
    transform: translate3d(0px, -1px, 0px);
  }