/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Teko|VT323');

/* Style the entire header */
.header {
    overflow: hidden;
    background-color: #0f0f0f;
    padding: 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 1;
}

/* Style the body */
#bodyGeneral {
    background-color: #262626;
    color: white;
    font-family: 'Teko', sans-serif;
    image-rendering: optimizeSpeed;                    /* Older versions of FF */
          image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
          image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
          image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
          image-rendering: crisp-edges;                /* Possible future browsers. */
          -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
          image-rendering: pixelated;                  /* Chrome 41 */
    margin: 0;
}

/* Styling for the header links */
.header a {
    font-family: 'Teko', sans-serif;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    margin: 5pt;
}

/* Style the site title */
.site-title {
    font-family: 'VT323', sans-serif;
    font-size: 40pt;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}

/* Change the background color on hover */
.header a:hover {
  background-color: #4c4c4c;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: #2b9929;
  color: white;
}

/* Float the link section to the right */
.header-nav {
    float: right;
    font-size: 16pt;
}

/* Style the page title */
.page-title {
    font-size: 40pt;
}

.score {
    text-align: center;
    font-size: 36pt;
}

/* Style the footer class */
.footer {
    font-size: 20pt;
}

#scoreTable {
    margin: 20px auto;
    font-size: 25pt;
    border-collapse: collapse;
}

td {
    padding: 2px 50px;
    margin: 0;
}

th {
    font-size: 30pt;
}

tr:nth-child(even) {
    background-color: #555555;
    box-shadow: -5px 5px #000000;
}

<<<<<<< HEAD
/* Style the message for prompting Lanscape */
#msgLandscape {
    width: 100%;
    height: auto;
    text-align: center;
}

/* Style the Lanscape icon */
#orientationIcon {
    filter: invert(100%);
}


/* Media Query, Portrait */ 
@media screen and (orientation: portrait) {
=======
/* Media Query, 500px width */ 
@media screen and (max-width: 500px) {
>>>>>>> 35455324993395e7e9c515b0aac34c87a30f5abd
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-nav {
        float: none;
<<<<<<< HEAD
    }

    #game {
        display:none;
    }
    
}

/* Media Query, Landscape */
@media screen and (orientation: landscape) {

    /* Sets the game Div back into view when phone is landscape */
    #game {
        display: block;
    }

    /* Sets the message for notification out of view */
    #msgLandscape {
        display: none;
    }
=======
    }    
>>>>>>> 35455324993395e7e9c515b0aac34c87a30f5abd
}