/* Import Google fonts */

@import url('https://fonts.googleapis.com/css?family=Teko|VT323');
/* Style the entire header */


.header {
    overflow: hidden;
    background-color: #0f0f0f;
    padding: 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 1;
}

/* Style the body */

#bodyGeneral {
    background-color: #262626;
    color: white;
    font-family: 'Teko', sans-serif;
    image-rendering: optimizeSpeed;
    /* Older versions of FF */
    image-rendering: -moz-crisp-edges;
    /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;
    /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;
    /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non standard naming) */
    image-rendering: pixelated;
    /* Chrome 41 */
    margin: 0;
}

/* Style for nav bar title */

a.navbar-brand {
    font-size: 40pt;
}

/* Style for links in the nav bar */

a.nav-item {
    font-size: 18pt;
}

.myButton {
    margin: 10pt;
}

#myNavBar {
    flex-direction: row-reverse;
}

/* Style for high scores */

.score {
    text-align: center;
    font-size: 36pt;
}

/* Style the footer class */

.footer {
    font-size: 20pt;
}

#scoreTable {
    margin: 20px auto;
    font-size: 25pt;
    border-collapse: collapse;
}

td {
    padding: 2px 50px;
    margin: 0;
}

th {
    font-size: 30pt;
}

tr:nth-child(even) {
    background-color: #555555;
    box-shadow: -5px 5px #000000;
}

/* Style the message for prompting Lanscape */

#msgLandscape {
    width: 100%;
    height: auto;
    text-align: center;
}

/* Style the Lanscape icon */

#orientationIcon {
    filter: invert(100%);
}

/* Media Query, Portrait */

@media screen and (orientation: portrait) {
    #game {
        display: none;
    }
}

/* Media Query, Landscape */

@media screen and (orientation: landscape) {
    /* Sets the game Div back into view when phone is landscape */
    #game {
        display: block;
    }
    /* Sets the message for notification out of view */
    #msgLandscape {
        display: none;
    }
}